         .button {
            background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
            width: 150px;
            height: 50px;
            padding-top: 20px;
            padding-bottom: 40px;
            padding-right: 10px;
            padding-left: 10px;
            font-weight: bold;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            border: none;
            font-weight: 100px;
            margin-left: 80px;
          }
          .button:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
            transform:scale(1.1);
          }
          body{
            margin: 0;
            padding: 0;
          }
          .img{
            background-image: url(car.jpeg);
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            fill-opacity: calc(30%);
          }
          .overlay {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
            width: 80%; /* Set the width of the gradient overlay */
            height: 100%; /* Ensure it covers the full height of the parent */
            z-index: 1; /* Ensure it's above the image */
          }
          .over{
            position: absolute;
            top: 650px; /* Adjust as needed */
            left: 1200px; /* Adjust as needed */
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: row;
            z-index: 2; /* Ensure the button container appears above the overlay */
          }
          .over1{
            position: absolute;
            top: 400px; /* Adjust as needed */
            left: 1200px; /* Adjust as needed */
            /*right:500px*/
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: row;
            z-index: 2; /* Ensure the button container appears above the overlay */
            text-align: right;
          }
          .over2{
            position: absolute;
            top: 90px; /* Adjust as needed */
            left: 1200px; /* Adjust as needed */
            /*right:500px*/
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: row;
            z-index: 2; /* Ensure the button container appears above the overlay */
            text-align: right;
          }
          .text{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: bold;
            font-size: 60px;
            text-align: right;
            color: black;
          }
          .text2{
            font-weight: bold;
            margin-left: 20px;
            margin-right: 10px;
            font-size: 20px;
          }
          .text3{
            font-weight: bold;
            font-size: 40px;
            margin-left: 20px;
            padding-top: 20px;
            padding-left: 50px;
            font-family: 'Courier New', Courier, monospace;
          }
          .img1{
            margin-left: 100px;
            width: 500px;
            border-radius: 50px;
            margin-bottom: 200px;
          }
          .circle {
            height: 300px;
            width: 300px;
            background-color: #9733EE;
            border-radius: 50%;
            margin-bottom: 100px;
          }
          .circle1{
            height: 300px;
            width: 300px;
            background-color: #9733EE;
            border-radius: 50%;
            margin-left: 900px ;
            margin-bottom: 100px;
          }
          .img2{
            margin-left: 100px;
            width: 500px;
            border-radius: 50px;
          }
